# Secrets & Environment Variables (NEVER publish or commit)
.env
.env.*
.env.local
!.env-example

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# System & Editor
.DS_Store
*.log
.vscode/
.idea/
.~lock.*#
*~
